# https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.10.md#external-dependencies
# https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.11.md#external-dependencies
public-domain: example.com

kubernetes:
  common:
    image: gcr.io/google_containers/hyperkube:v1.13.3
    version: v1.13.3
    cri:
      provider: containerd
      crictl_version: 1.13.0
      runc_version: 1.0.0-rc5
      docker:
        version: 17.03.2-ce
        data_dir: /var/lib/docker
      rkt:
        version: 1.30.0
      containerd:
        version: 1.2.0
        source_hash: b2956eecefdafb9bc038dd9beb989fafd852da1eb1e5e55199474db43a2b8275
      crio:
        version: 1.12
    cni:
      source: https://github.com/containernetworking/plugins/releases/download/v0.7.1/cni-plugins-amd64-v0.7.1.tgz
      source_hash: e7e5751d43456f69ea1ed043647e0377
      network: 10.2.0.0/16
      provider: weave
      calico:
        node_image: quay.io/calico/node:v3.2.1
        typha_image: quay.io/calico/typha:v3.2.1
        cni_image: quay.io/calico/cni:v3.2.1
        controller_image: quay.io/calico/kube-controllers:v3.2.1
        calicoctl-version: v3.2.1
        ipv4:
          range: 10.2.0.0/16
          nat: true
          ip-in-ip: always
        ipv6:
          enable: false
          nat: true
          interface: eth0
          range: fd80:24e2:f998:72d6::/64
      flannel:
        flannel_image: quay.io/coreos/flannel:v0.10.0-amd64
        interface: eth0
      weave:
        weave_image: weaveworks/weave-kube:2.5.1
        npc_image: weaveworks/weave-npc:2.5.1
        password: 1234567890abcdefghij
      canal:
        node_image: quay.io/calico/node:v3.2.1
        cni_image: quay.io/calico/cni:v3.2.1
        flannel_image: quay.io/coreos/flannel:v0.9.1
        interface: eth0
      cilium:
        cilium_image: docker.io/cilium/cilium:v1.3.0
    addons:
      dns:
        enabled: True
        domain: cluster.local
        server: 10.3.0.10
        autoscaler:
          enabled: True
        coredns:
          enabled: True
          image: coredns/coredns:1.3.0
      helm:
        enabled: true
        tiller_image: gcr.io/kubernetes-helm/tiller:v2.12.1
        version: 2.12.1
        source_hash: 891004bec55431b39515e2cedc4f4a06e93782aa03a4904f2bd742b168160451
      kube_prometheus:
        enabled: True
        version: 0.27.0
      heapster-influxdb:
        enabled: True
      dashboard:
        enabled: True
      ingress_traefik:
        enabled: False
        password: '$$apr1$$u7.rXtVi$$DQtLfP6lJJZqvENhyo6EX1'
        acme_email: user@example.com
      npd:
        enabled: True
        image: k8s.gcr.io/node-problem-detector:v0.5.0
      ingress_nginx:
        enabled: False
      ingress_istio:
        enabled: True
        version: 1.0.5
      cert_manager:
        enabled: True
        version: 0.6.0
        acme_email: user@example.com
        dns:
          provider: cloudflare
          email: admin@example.com
          secret: 012345abcde012345abcde012345abcde012345abcde
      fluentd-elasticsearch:
        enabled: True
      weave-scope:
        enabled: True
        image: docker.io/weaveworks/scope:1.10.1
      kubeless:
        enabled: True
        version: 1.0.1
        ui_version: master
      knative:
        enabled: False
        version: 0.1.1
      httpbin:
        enabled: True
  etcd:
    host: 127.0.0.1
    members:
      - host: 172.17.4.51
        name: etcd01
      - host: 172.17.4.52
        name: etcd02
      - host: 172.17.4.53
        name: etcd03
    version: v3.2.24
  master:
    service_addresses: 10.3.0.0/24
    members:
      - host: 172.17.4.101
        name: master01
      - host: 172.17.4.102
        name: master02
      - host: 172.17.4.103
        name: master03
    encryption_key: '9mmDipLv1QEjSzmNia/KyTl79aq6gCMWmqBsyk4P2Lc='
    token:
      admin: 3acb77307c903c780f341d5f0ae4a3b3
      kubelet: 56c5903a3cd445c5dfc302e4674ccc1a
      calico: 0b6c09902d7478220746cfe5605b9ef2
      kube_scheduler: fea3115c71d7fb87fd078978601474d7
      kube_controller_manager: 167945c664a88280d640ac45ff743ddb
      kube_proxy: 3606ab299c3e5ce37e834058eb7618fb
      bootstrap: 0d3bdadc181bdc504481195206314386
      monitoring: af41e9fef61d6a253152d53c9d9decc2
      logging: 45ceb5b4a0a82177aaadfcdabd51786f
      dns: a219bb8d953055339fde377a6ba6dd7c
    storage:
      rook_ceph:
        enabled: True
        image: rook/ceph:v0.9.1
        ceph_image: ceph/ceph:v13.2.2-20181023
      rook_minio:
        enabled: True
        image: rook/minio:v0.9.1
        username: Ch4ng3M3
        password: Ch4ng3M34ls0
  global:
    proxy:
      ipaddr: 172.16.4.251
      port: 8888
    vpnIP-range: 172.16.4.0/24
    kubernetes-service-ip: 10.3.0.1
    service-ip-range: 10.3.0.0/24
    cluster-dns: 10.3.0.10
    helm-version: v2.8.2
    dashboard-version: v1.8.3
  charts:
    concourse:
      enabled: true
      db_password: Ch4ng3M34ls0
      version: 4.2.1
      source_hash: 7b0805adfba328d09cfa7ac377777cb6e270d66f
      ingress_host: ci
    keycloak:
      enabled: True
      db_size: 8Gi
      admin_password: Ch4ng3M3
      db_password: Ch4ng3M34ls0
      ingress_host: sso
    mailhog:
      enabled: True
      ingress_host: mail
    spinnaker:
      enabled: True
      ingress_host: spinnaker
    harbor:
      enabled: true
      version: 0.3.0
      admin_password: Ch4ng3M3
      secretkey: 2Ds7hlY9VHyKAcNd
      database_password: Ch4ng3M34ls0
      ingress:
        enabled: False
      ingress_host: registry
    vistio:
      enabled: true
      version: 0.1.3
      ingress_host: vistio
    ethereum:
      enabled: true
      version: 1.8.19
      address: "0xDd7bC23204b6f4529D91ba79c185984ADcf12CbD"
      private_key: "92c69eb5fdae8af5ed2cffbf9eb5e40d30aa646db354338f7b7841038aa61c9e"
      secret: "some_random_secret"
      ingress_host: blockchain
tinyproxy:
  User: tinyproxy
  Group: tinyproxy
  config: /etc/tinyproxy/tinyproxy.conf
  MaxClients: 200
  MinSpareServers: 10
  MaxSpareServers: 40
  StartServers: 20
  Allow:
    - 127.0.0.1
    - 192.168.0.0/16
    - 172.16.0.0/12
    - 10.0.0.0/8
  ConnectPort:
    - 443
    - 563
    - 6443
    - 2379
    - 2380
keepalived:
  global_defs:
    router_id: LVS_DEVEL
  vrrp_instance:
    VI_1:
      state: MASTER
      interface: wg0
      virtual_router_id: 51
      priority: 100
      advert_int: 1
      authentication:
        auth_type: PASS
        auth_pass: 1111
      virtual_ipaddress:
        - 172.17.4.253
        - 172.17.4.254
  virtual_server:
    0.0.0.0 6443:
      delay_loop: 6
      lb_algo: rr
      lb_kind: NAT
      nat_mask: 255.255.255.0
      persistence_timeout: 50
      protocol: TCP
      real_server:
        172.17.4.101 6443:
          weight: 1
        172.17.4.102 6443:
          weight: 2
        172.17.4.103 6443:
          weight: 3
haproxy:
  enabled: true
  overwrite: True
  defaults:
    timeouts:
      - tunnel        3600s
      - http-request    10s
      - queue           1m
      - connect         10s
      - client          1m
      - server          1m
      - http-keep-alive 10s
      - check 10s
    stats:
      - enable
      - uri: 'admin?stats'
  listens:
    stats:
      bind:
        - "0.0.0.0:58080"
      mode: http
      stats:
        enable: True
        uri: "/admin?stats"
  global:
    ssl-default-bind-ciphers: "ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA384"
    ssl-default-bind-options: "no-sslv3 no-tlsv10 no-tlsv11"
  user: haproxy
  group: haproxy
  chroot:
    enable: true
    path: /var/lib/haproxy
  daemon: true
  frontends:
    kubernetes-master:
      bind: "*:6443"
      mode: tcp
      default_backend: kube-apiserver
    http:
      bind: "*:80"
      mode: tcp
      default_backend: http
    https:
      bind: "*:443"
      mode: tcp
      default_backend: https
  backends:
    kube-apiserver:
      mode: tcp
      balance: source
      sticktable: "type binary len 32 size 30k expire 30m"
      servers:
        master01:
          host: 172.17.4.101
          port: 6443
          check: check
        master02:
          host: 172.17.4.102
          port: 6443
          check: check
        master03:
          host: 172.17.4.103
          port: 6443
          check: check
    http:
      mode: tcp
      balance: source
      sticktable: "type binary len 32 size 30k expire 30m"
      servers:
        proxy01:
          host: 172.17.4.251
          port: 31380
          check: check
        proxy02:
          host: 172.17.4.252
          port: 31380
          check: check
    https:
      mode: tcp
      balance: source
      sticktable: "type binary len 32 size 30k expire 30m"
      servers:
        proxy01:
          host: 172.17.4.251
          port: 31390
          check: check
        proxy02:
          host: 172.17.4.252
          port: 31390
          check: check