# -*- coding: utf-8 -*-
# vim: ft=jinja

{#- Get the `tplroot` from `tpldir` #}
{% from tpldir ~ "/map.jinja" import ory with context %}

apiVersion: v1
kind: Secret
metadata:
  name: hydra-secret
  namespace: ory
  labels:
    app: hydra
type: Opaque
data:
  dsn: {{ ory.hydra.dsn | base64_encode }}
  secretsCookie: {{ ory.hydra.cookie_secret | base64_encode }}
  secretsSystem: {{ ory.hydra.system_secret | base64_encode }}
