# -*- coding: utf-8 -*-
# vim: ft=jinja

{#- Get the `tplroot` from `tpldir` #}
{% from tpldir ~ "/map.jinja" import ory with context %}
{% from "kubernetes/map.jinja" import common with context %}

{% if ory.hydra.get('cockroachdb', {'enabled': False}).enabled %}
  {% set dsn = "cockroach://root@hydra-cockroachdb:26257/defaultdb?sslmode=disable&max_conns=20&max_idle_conns=4" %}
{% else  %}
  {% set dsn = "memory" %}
{% endif %}

apiVersion: v1
kind: Secret
metadata:
  name: hydra-secret
  namespace: ory
  labels:
    app: hydra
type: Opaque
data:
  {%- if common.addons.get('rook_cockroachdb', {'enabled': False}).enabled and ory.kratos.get('cockroachdb', {'enabled': False}).enabled %}
  dsn: "{{ dsn | base64_encode }}"
  {%- endif %}
  secretsCookie: "{{ ory.hydra.cookie_secret | base64_encode }}"
  secretsSystem: "{{ ory.hydra.system_secret | base64_encode }}"
