# -*- coding: utf-8 -*-
# vim: ft=jinja

{#- Get the `tplroot` from `tpldir` #}
{% from tpldir ~ "/map.jinja" import ory with context %}
{% from "kubernetes/map.jinja" import common with context %}

{% if common.addons.get('rook_cockroachdb', {'enabled': False}).enabled and ory.kratos.get('cockroachdb', {'enabled': False}).enabled %}
  {% set dsn = "cockroach://root@kratos-cockroachdb:26257/defaultdb?sslmode=disable&max_conns=20&max_idle_conns=4" %}
{% else  %}
  {% set dsn = "sqlite:///var/lib/sqlite/db.sqlite?_fk=true&mode=rwc" %}
{% endif %}

apiVersion: v1
kind: Secret
metadata:
  name: kratos-secret
  namespace: ory
  labels:
    app: kratos
type: Opaque
data:
  {%- if common.addons.get('rook_cockroachdb', {'enabled': False}).enabled and ory.kratos.get('cockroachdb', {'enabled': False}).enabled %}
  dns: {{ dsn | base64_encode }}
  {%- endif %}
