# -*- coding: utf-8 -*-
# vim: ft=jinja

{#- Get the `tplroot` from `tpldir` #}
{% from tpldir ~ "/map.jinja" import ory with context %}
{%- set public_domain = pillar['public-domain'] -%}
{% from "kubernetes/map.jinja" import common with context %}

{% if  ory.kratos.get('cockroachdb', {'enabled': False}).enabled %}
  {% set dsn = "cockroach://root@kratos-cockroachdb:26257/defaultdb?sslmode=disable&max_conns=20&max_idle_conns=4" %}
{% else  %}
  {% set dsn = "sqlite:///var/lib/sqlite/db.sqlite?_fk=true&mode=rwc" %}
{% endif %}

image:
  tag: v{{ ory.kratos.version }}

kratos:
  development: false
  autoMigrate: false
  config:
    dsn: "{{ dsn }}"
    serve:
      public:
        port: 4433
      admin:
        port: 4434
    
    secrets:
      session:
        - dolore occaecat nostrud Ut
        - sit et commodoaute ut voluptate consectetur Duis
  log:
    level: {{ ory.kratos.log_level }}
