# -*- coding: utf-8 -*-
# vim: ft=jinja

{#- Get the `tplroot` from `tpldir` #}
{% from tpldir ~ "/map.jinja" import openfaas with context %}

apiVersion: v1
kind: Secret
metadata:
  name: basic-auth
  namespace: openfaas
  labels:
    app: openfaas
    component: gateway
type: Opaque
data:
  basic-auth-user: {{ openfaas.username | base64_encode }}
  basic-auth-password: {{ openfaas.password | base64_encode }}

