{%- set public_domain = pillar['public-domain'] -%}
{%- from "kubernetes/map.jinja" import master with context -%}
{%- set hostname = salt['grains.get']('fqdn') -%}

apiVersion: v1
kind: Config
clusters:
- name: local
  cluster:
    server: https://kubernetes.{{ public_domain }}:6443
    certificate-authority: /etc/kubernetes/ssl/ca.pem
users:
- name: system:node:{{ hostname }}
  user:
    client-certificate: /etc/kubernetes/ssl/node.pem
    client-key: /etc/kubernetes/ssl/node-key.pem
contexts:
- context:
    cluster: local
    user: system:node:{{ hostname }}
  name: default
current-context: default