{%- set public_domain = pillar['public-domain'] -%}
{%- from "kubernetes/map.jinja" import master with context -%}

apiVersion: v1
kind: Config
clusters:
- name: local
  cluster:
    server: https://kubernetes.{{ public_domain }}:6443
    certificate-authority: /etc/kubernetes/ssl/ca.pem
users:
- name: kube-proxy
  user:
    client-certificate: /etc/kubernetes/ssl/kube-proxy.pem
    client-key: /etc/kubernetes/ssl/kube-proxy-key.pem
contexts:
- context:
    cluster: local
    user: kube-proxy
  name: default
current-context: default