# -*- coding: utf-8 -*-
# vim: ft=jinja

{#- Start imports #}
{% import_yaml "kubernetes/role/master/kubelet/defaults.yaml" as defaults %}

{% set kubeadm = salt['grains.filter_by']({
    'Debian': {
        'kubeadm': {
            'cgroupDriver': 'systemd',
        },
    },
    'RedHat': {
        'kubeadm': {
            'cgroupDriver': 'cgroupfs',
        },
    },
}, merge=salt['pillar.get']('kubeadm')) %}


{#- Merge in salt pillar #}
{% set kubeadm = salt['pillar.get']('kubeadm', default=defaults['kubeadm'], merge=True) %}