# -*- coding: utf-8 -*-
# vim: ft=jinja

{% import_yaml tpldir ~ "/defaults.yaml" or {} as defaults %}

{#- Merge in salt pillar #}
{% set minio_operator = salt['pillar.get']('kubernetes:storage:minio_operator', default=defaults['minio_operator'], merge=True) %}