# -*- coding: utf-8 -*-
# vim: ft=jinja

{#- Get the `tplroot` from `tpldir` #}
{% from tpldir ~ "/map.jinja" import harbor with context %}
{%- set public_domain = pillar['public-domain'] -%}
{%- from "kubernetes/map.jinja" import common with context -%}
{%- from "kubernetes/map.jinja" import charts with context -%}
{%- if common.addons.get('nginx', {'enabled': False}).enabled  %}
  {%- set controller = "nginx" -%}
{%- elif common.addons.get('traefik', {'enabled': False}).enabled %}
  {%- set controller = "traefik" -%}
{%- elif common.addons.get('istio', {'enabled': False}).enabled %}
  {%- set controller = "istio" -%}
{%- elif common.addons.get('contour', {'enabled': False}).enabled %}
  {%- set controller = "contour" -%}
{%- endif -%}

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: harbor
  namespace: harbor
  annotations:
    kubernetes.io/ingress.class: {{ controller }}
    {%- if common.addons.get('nginx', {'enabled': False}).enabled  or common.addons.get('contour', {'enabled': False}).enabled %}
    cert-manager.io/cluster-issuer: letsencrypt-prod
    kubernetes.io/tls-acme: "true"
    {%- endif %}
spec:
  rules:
  - host: {{ harbor.coreIngressHost }}.{{ public_domain }}
    http:
      paths:
      - path: /api/
        pathType: Prefix
        backend:
          service:
            name: harbor-harbor-core
            port: 
              number: 80
      - path: /service/
        pathType: Prefix
        backend:
          service:
            name: harbor-harbor-core
            port: 
              number: 80
      - path: /v2/
        pathType: Prefix
        backend:
          service:
            name: harbor-harbor-core
            port: 
              number: 80
      - path: /chartrepo/
        pathType: Prefix
        backend:
          service:
            name: harbor-harbor-core
            port: 
              number: 80
      - path: /c/
        pathType: Prefix
        backend:
          service:
            name: harbor-harbor-core
            port: 
              number: 80
      - path: /
        pathType: Prefix
        backend:
          service:
            name: harbor-harbor-portal
            port: 
              number: 80
  {%- if common.addons.get('nginx', {'enabled': False}).enabled  or common.addons.get('contour', {'enabled': False}).enabled %}
  tls:
  - secretName: core-prod-cert
    hosts:
    - {{ harbor.coreIngressHost }}.{{ public_domain }}
  {%- endif %}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: notary
  namespace: harbor
  annotations:
    kubernetes.io/ingress.class: {{ controller }}
    {%- if common.addons.get('nginx', {'enabled': False}).enabled  or common.addons.get('contour', {'enabled': False}).enabled %}
    cert-manager.io/cluster-issuer: letsencrypt-prod
    kubernetes.io/tls-acme: "true"
    {%- endif %}
spec:
  rules:
  - host: {{ harbor.notaryIngressHost }}.{{ public_domain }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: harbor-harbor-notary-server
            port: 
              number: 4443
  {%- if common.addons.get('nginx', {'enabled': False}).enabled  or common.addons.get('contour', {'enabled': False}).enabled %}
  tls:
  - secretName: notary-prod-cert
    hosts:
    - {{ harbor.notaryIngressHost }}.{{ public_domain }}
  {%- endif %}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: harbor-minio
  namespace: harbor
  annotations:
    kubernetes.io/ingress.class: {{ controller }}
    {%- if common.addons.get('nginx', {'enabled': False}).enabled  or common.addons.get('contour', {'enabled': False}).enabled %}
    cert-manager.io/cluster-issuer: letsencrypt-prod
    kubernetes.io/tls-acme: "true"
    {%- endif %}
spec:
  rules:
  - host: {{ harbor.coreIngressHost }}-minio.{{ public_domain }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: minio
            port: 
              number: 9000
  {%- if common.addons.get('nginx', {'enabled': False}).enabled  or common.addons.get('contour', {'enabled': False}).enabled %}
  tls:
  - secretName: harbor-minio-prod-cert
    hosts:
    - {{ harbor.coreIngressHost }}-minio.{{ public_domain }}
  {%- endif %}
---
