# -*- coding: utf-8 -*-
# vim: ft=jinja

{% import_yaml tpldir ~ "/defaults.yaml" or {} as defaults %}

{#- Merge in salt pillar #}
{% set nats_operator = salt['pillar.get']('kubernetes:charts:nats_operator', default=defaults['nats_operator'], merge=True) %}