# -*- coding: utf-8 -*-
# vim: ft=jinja

{% import_yaml tpldir ~ "/defaults.yaml" or {} as defaults %}

{#- Merge in salt pillar #}
{% set traefik = salt['pillar.get']('kubernetes:common:addons:traefik', default=defaults['traefik'], merge=True) %}