{%- set public_domain = pillar['public-domain'] -%}
{%- from "kubernetes/map.jinja" import common with context -%}
{%- from "kubernetes/map.jinja" import charts with context -%}

{%- if common.addons.get('ingress_traefik', {'enabled': False}).enabled %}
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: spinnaker
  namespace: spinnaker
spec:
  rules:
  - host: {{ charts.spinnaker.ingress_host }}.{{ public_domain }}
    http:
      paths:
      - path: /
        backend:
          serviceName: spin-deck
          servicePort: 9000
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: spinnaker-gate
  namespace: spinnaker
spec:
  rules:
  - host: {{ charts.spinnaker.ingress_host }}-gate.{{ public_domain }}
    http:
      paths:
      - path: /
        backend:
          serviceName: spin-gate
          servicePort: 8084
---
{% endif %}

{%- if common.addons.get('istio', {'enabled': False}).enabled -%}
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: spinnaker
  namespace: default
spec:
  gateways:
  - istio-gateway
  hosts:
  - {{ charts.spinnaker.ingress_host }}.{{ public_domain }}
  http:
  - match:
    - uri:
        prefix: /
    route:
    - destination:
        host: spin-deck.spinnaker.svc.cluster.local
        port:
          number: 9000
---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: spinnaker-gate
  namespace: default
spec:
  gateways:
  - istio-gateway
  hosts:
  - {{ charts.spinnaker.ingress_host }}-gate.{{ public_domain }}
  http:
  - match:
    - uri:
        prefix: /
    route:
    - destination:
        host: spin-gate.spinnaker.svc.cluster.local
        port:
          number: 8084
---
{% endif %}