# -*- coding: utf-8 -*-
# vim: ft=jinja

{#- Get the `tplroot` from `tpldir` #}
{% from tpldir ~ "/map.jinja" import spinnaker with context %}
{%- set public_domain = pillar['public-domain'] -%}
{%- from "kubernetes/map.jinja" import common with context -%}
{%- if common.addons.get('nginx', {'enabled': False}).enabled %}
  {%- set controller = "nginx" -%}
{%- elif common.addons.get('traefik', {'enabled': False}).enabled %}
  {%- set controller = "traefik" -%}
{%- elif common.addons.get('istio', {'enabled': False}).enabled %}
  {%- set controller = "istio" -%}
{%- endif -%}

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: spinnaker
  namespace: spinnaker
  annotations:
    kubernetes.io/ingress.class: {{ controller }}
    ingress.kubernetes.io/ssl-redirect: 'true'
    {%- if common.addons.get('nginx', {'enabled': False}).enabled %}
    cert-manager.io/cluster-issuer: letsencrypt-prod
    kubernetes.io/tls-acme: "true"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    {%- endif %}
spec:
  rules:
  - host: {{ spinnaker.ingress_host }}.{{ public_domain }}
    http:
      paths:
      - path: /
        backend:
          serviceName: spin-deck
          servicePort: 9000
  {%- if common.addons.get('nginx', {'enabled': False}).enabled %}
  tls:
  - secretName: spinnaker-prod-cert
    hosts:
    - {{ spinnaker.ingress_host }}.{{ public_domain }}
  {%- endif %}
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: spinnaker-gate
  namespace: spinnaker
  annotations:
    kubernetes.io/ingress.class: {{ controller }}
    ingress.kubernetes.io/ssl-redirect: 'true'
    {%- if common.addons.get('nginx', {'enabled': False}).enabled %}
    cert-manager.io/cluster-issuer: letsencrypt-prod
    kubernetes.io/tls-acme: "true"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    {%- endif %}
spec:
  rules:
  - host: {{ spinnaker.ingress_host }}-gate.{{ public_domain }}
    http:
      paths:
      - path: /
        backend:
          serviceName: spin-gate
          servicePort: 8084
  {%- if common.addons.get('nginx', {'enabled': False}).enabled %}
  tls:
  - secretName: spinnaker-gate-prod-cert
    hosts:
    - {{ spinnaker.ingress_host }}-gate.{{ public_domain }}
  {%- endif %}
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: spinnaker-minio
  namespace: spinnaker
  annotations:
    kubernetes.io/ingress.class: {{ controller }}
    {%- if common.addons.get('nginx', {'enabled': False}).enabled %}
    cert-manager.io/cluster-issuer: letsencrypt-prod
    kubernetes.io/tls-acme: "true"
    {%- endif %}
spec:
  rules:
  - host: {{ spinnaker.ingress_host }}-minio.{{ public_domain }}
    http:
      paths:
      - path: /
        backend:
          serviceName: spinnaker-minio
          servicePort: 9000
  {%- if common.addons.get('nginx', {'enabled': False}).enabled %}
  tls:
  - secretName: spinnaker-minio-prod-cert
    hosts:
    - {{ spinnaker.ingress_host }}-minio.{{ public_domain }}
  {%- endif %}
---