# -*- coding: utf-8 -*-
# vim: ft=jinja

{% from tpldir ~ "/map.jinja" import keycloak with context %}
{%- set public_domain = pillar['public-domain'] -%}
{%- set keycloak_url = charts.keycloak.ingress.host ~ '.' ~ public_domain -%}
{%- set keycloak_username = salt['cmd.shell']('kubectl --namespace=keycloak get configmap keycloak-env-vars --output=jsonpath="{.data.KEYCLOAK_ADMIN}"') %}
{%- set keycloak_password = salt['cmd.shell']('kubectl --namespace=keycloak get secret keycloak --output=jsonpath="{.data.admin-password}" | base64 -d') %}
{%- set keycloak_token = salt['cmd.shell']('http', '--prettry=none', '--form=POST',
                                           'https://{{ keycloak_url }}/auth/realms/master/protocol/openid-connect/token',
                                           'Content-Type: application/x-www-form-urlencoded',
                                           'grant_type=password',
                                           'client_id=admin-cli',
                                           'username={{ keycloak_username }}',
                                           'password={{ keycloak_password }}',
                                           '| jq -M -e -r ".access_token"') %}

Content-Type: application/json
Authorization: Bearer {{ token }}"