# -*- coding: utf-8 -*-
# vim: ft=jinja

{#- Get the `tplroot` from `tpldir` #}
{% from tpldir ~ "/map.jinja" import kube_prometheus with context %}
{%- set public_domain = pillar['public-domain'] -%}
{%- from "kubernetes/map.jinja" import common with context -%}
{%- if common.addons.get('nginx', {'enabled': False}).enabled  or common.addons.get('contour', {'enabled': False}).enabled %}
  {%- set controller = "nginx" -%}
{%- elif common.addons.get('traefik', {'enabled': False}).enabled %}
  {%- set controller = "traefik" -%}
{%- elif common.addons.get('istio', {'enabled': False}).enabled %}
  {%- set controller = "istio" -%}
{%- elif common.addons.get('contour', {'enabled': False}).enabled %}
  {%- set controller = "contour" -%}
{%- endif -%}

apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
 name: prometheus
 namespace: monitoring
 annotations:
    kubernetes.io/ingress.class: {{ controller }}
    {%- if common.addons.get('nginx', {'enabled': False}).enabled  or common.addons.get('contour', {'enabled': False}).enabled %}
    cert-manager.io/cluster-issuer: letsencrypt-prod
    kubernetes.io/tls-acme: "true"
    {%- endif %}
spec:
  rules:
  - host: {{ kube_prometheus.prometheus_ingress_host }}.{{ public_domain }}
    http:
      paths:
      - backend:
          serviceName: prometheus-k8s
          servicePort: 9090
  {%- if common.addons.get('nginx', {'enabled': False}).enabled  or common.addons.get('contour', {'enabled': False}).enabled %}
  tls:
  - secretName: prometheus-prod-cert
    hosts:
    - {{ kube_prometheus.prometheus_ingress_host }}.{{ public_domain }}
  {%- endif %}
---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
 name: alertmanager
 namespace: monitoring
 annotations:
    kubernetes.io/ingress.class: {{ controller }}
    {%- if common.addons.get('nginx', {'enabled': False}).enabled  or common.addons.get('contour', {'enabled': False}).enabled %}
    cert-manager.io/cluster-issuer: letsencrypt-prod
    kubernetes.io/tls-acme: "true"
    {%- endif %}
spec:
  rules:
  - host: {{ kube_prometheus.alertmanager_ingress_host }}.{{ public_domain }}
    http:
      paths:
      - backend:
          serviceName: alertmanager-main
          servicePort: 9093
  {%- if common.addons.get('nginx', {'enabled': False}).enabled  or common.addons.get('contour', {'enabled': False}).enabled %}
  tls:
  - secretName: alertmanager-prod-cert
    hosts:
    - {{ kube_prometheus.alertmanager_ingress_host }}.{{ public_domain }}
  {%- endif %}
---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
 name: grafana
 namespace: monitoring
 annotations:
    kubernetes.io/ingress.class: {{ controller }}
    {%- if common.addons.get('nginx', {'enabled': False}).enabled  or common.addons.get('contour', {'enabled': False}).enabled %}
    cert-manager.io/cluster-issuer: letsencrypt-prod
    kubernetes.io/tls-acme: "true"
    {%- endif %}
spec:
  rules:
  - host: {{ kube_prometheus.grafana_ingress_host }}.{{ public_domain }}
    http:
      paths:
      - backend:
          serviceName: grafana
          servicePort: 3000
  {%- if common.addons.get('nginx', {'enabled': False}).enabled  or common.addons.get('contour', {'enabled': False}).enabled %}
  tls:
  - secretName: grafana-prod-cert
    hosts:
    - {{ kube_prometheus.grafana_ingress_host }}.{{ public_domain }}
  {%- endif %}
---