{% set common   = salt['pillar.get']('kubernetes:common') %}
{% set etcd     = salt['pillar.get']('kubernetes:etcd') %}
{% set kubeadm  = salt['pillar.get']('kubeadm') %}
{% set storage  = salt['pillar.get']('kubernetes:storage') %}
{% set charts   = salt['pillar.get']('kubernetes:charts') %}
