{% set common = salt['pillar.get']('kubernetes:common') %}
{% set master = salt['pillar.get']('kubernetes:master') %}
{% set storage = salt['pillar.get']('kubernetes:storage') %}
{% set charts = salt['pillar.get']('kubernetes:charts') %}