ory:
  hydra:
    version: 1.6.0
    ingress_host: ory
    source_hash: 433ac706901b0f66f2952c1bd90c6fa3731bf49f22cbccc1260f2b875baccb4f
    # export LC_CTYPE=C; cat /dev/urandom | tr -dc 'a-zA-Z0-9' | fold -w 32 | head -n 1
    system_secret: 2EYfY6MWHd3pXUkqeb3DrPjpsxe6p67i
    cookie_secret: uJd8AOqKyui6PmT54xa34cI52csbwmu6
    cockroachdb:
      version: 20.1.3
      enabled: True
      capacity: 4Gi
      node_count: 3
  kratos:
    enabled: True
    version: 0.4.6-alpha.1-sqlite
    ingress_host: kratos
    dns: sqlite
    log_level: info
    # export LC_CTYPE=C; cat /dev/urandom | tr -dc 'a-zA-Z0-9' | fold -w 32 | head -n 1
    default_secret: sPtbO1x9c9QAAEm3EI0Wuj8GKT0d7ouO
    cookie_secret: wGs6CJTx1NWxKLFGWszMqek4fusK3JnV
    selfservice_image: docker.io/oryd/kratos-selfservice-ui-node:latest
    mailslurper_image: docker.io/oryd/mailslurper:smtps-latest
    cockroachdb:
      version: 20.1.3
      enabled: True
      capacity: 4Gi
      node_count: 3

