# -*- coding: utf-8 -*-
# vim: ft=jinja

{#- Get the `tplroot` from `tpldir` #}
{% from tpldir ~ "/map.jinja" import proxyinjector with context %}

kubernetes:
  host: https://kubernetes.default

proxyinjector:
  mount: "secret"
  tolerations: {}
  labels:
    provider: stakater
    group: com.stakater.platform
    version: v{{ proxyinjector.version }}
  image:
    name: stakater/proxyinjector
    tag: "v{{ proxyinjector.version }}"
    pullPolicy: IfNotPresent
  watchGlobally: true
  configFilePath: /etc/ProxyInjector
  data:
    config.yml: |-
      proxyconfig:
        gatekeeper-image : "{{ proxyinjector.image }}"
        enable-default-deny: true
        secure-cookie: false
        verbose: true
        enable-logging: true
        cors-origins:
        - '*'
        cors-methods:
        - GET
        - POST
        resources:
        - uri: '/*'
        scopes:
        - 'allowed-service'