web_proxy_host = "web-proxy.domain.tld"

organization = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

token = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

cluster_public_dns = "kubernetes.domain.tld"

scaleway_region = "par1"

architecture = "x86_64"

image = "Ubuntu Xenial"

ssh_user = "root"

ssh_public_key = "~/.ssh/id_rsa.pub"

ssh_private_key = "~/.ssh/id_rsa.insecure"

ssh_bastion_host = "svc.swiftsure.io"

saltmaster_host = "master.domain.tld"

saltsyndic_host = "syndic.domain.tld"

etcd_count = "1"

etcd_type = "START1-S"

master_count = "1"

master_type = "START1-S"

node_count = "1"

node_type = "START1-M"

proxy_instance_type ="START1-S"

zerotier_api_key = "01234567890123456789012345678901"

zerotier_cidr = "172.16.4.0/24"

etcd_bit = "50"

master_bit = "70"

node_bit = "100"

proxy_bit = "40"

cloudflare_email = "user@domain.tld"

cloudflare_token = "0123456789012345678901234567890134567"

domain = "domain.tld"

docker_interface = "docker0"

overlay_interface = "weave"

overlay_cidr = "10.2.0.0/16"