cloudflare_email = "user@domain.tld"

cloudflare_token = "0123456789abcdefghijklmnopqrstuvwxyz0"

cluster_public_dns = "kubernetes.domain.tld"

domain = "domain.tld"

/* Hetzner cloud */
hcloud_token = "0123456789abcdefghijklmnopqrstuv0123456789abcdefghijklmnopqrstuv"

hcloud_location = "nbg1"

hcloud_ssh_keys = ["<ssh public key>"]

image = "Ubuntu Bionic"

proxy_count = "2"

proxy_type = "cx11"

etcd_count = "3"

etcd_type = "cx11"

master_count = "3"

master_type = "cx11"

node_count = "3"

node_type = "cx41"

/* */

/* Scaleway */
# scaleway_organization = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

# scaleway_token = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

# scaleway_region = "par1"

# architecture = "x86_64"

# image = "Ubuntu Bionic"

# proxy_count = "2"

# proxy_type = "VC1S"

# etcd_count = "3"

# etcd_type = "VC1S"

# master_count = "3"

# master_type = "VC1S"

# node_count = "3"

# node_type = "VC1M"

# node_volume_size = "50"

/* */

ssh_user = "root"

ssh_public_key = "~/.ssh/id_rsa.pub"

ssh_private_key = "~/.ssh/id_rsa.insecure"

saltmaster_host = "cfg.domain.tld"

saltsyndic_host = "10.14.63.177"

zerotier_api_key = "0123456789abcdefghijklmnopqrstuv"

zerotier_cidr = "172.16.4.0/24"

etcdIP = "50"

masterIP = "70"

nodeIP = "100"

proxyIP = "40"

docker_interface = "docker0"

overlay_interface = "flannel.1"

overlay_cidr = "10.244.0.0/16"

service_cidr = "10.96.0.0/12"
