calico:
  node_image: docker.io/calico/node:v3.16.5
  typha_image: docker.io/calico/typha:v3.16.5
  cni_image: docker.io/calico/cni:v3.16.5
  controller_image: docker.io/calico/kube-controllers:v3.16.5
  flexvol_image: docker.io/calico/pod2daemon-flexvol:v3.16.5
  version: 3.16.5
  mtu: 1430
  startup_loglevel: info
  ipv4:
    range: 10.244.0.0/16
    nat: true
    ip_in_ip: always
    vxlan: Never
    # https://docs.projectcalico.org/reference/node/configuration#ip-autodetection-methods
    autodetection_method: interface=eth0
  ipv6:
    enable: false
    nat: true
    # https://docs.projectcalico.org/reference/node/configuration#ip-autodetection-methods
    autodetection_method: interface=eth0
    range: fd80:24e2:f998:72d6::/64