### THIS FILE IS MANAGED BY SALTSTACK
{%- from "kubernetes/map.jinja" import etcd with context -%}
{%- set hostname = salt['grains.get']('fqdn') -%}
{%- set vars     = {'current_ip': "127.0.0.1"} -%}

{%- for member in etcd.members -%}
  {%- if member.name == hostname -%}
	{%- if vars.update({'current_ip': member.host}) -%}{%- endif -%}
  {%- endif -%}
{%- endfor -%}


[Unit]
Description=etcd (System Application Container)
Documentation=https://github.com/coreos/etcd
Wants=network-online.target network.target
After=network-online.target
Conflicts=etcd.service
Conflicts=etcd2.service

[Service]
Type=notify
Restart=on-failure
RestartSec=10s
TimeoutStartSec=0
LimitNOFILE=40000
Environment="ETCD_IMAGE_TAG={{ etcd.version }}"
Environment="ETCD_NAME={{ hostname }}"
Environment="ETCD_USER=etcd"
Environment="ETCD_DATA_DIR=/var/lib/etcd"
Environment="RKT_RUN_ARGS=--uuid-file-save=/var/lib/coreos/etcd-member-wrapper.uuid \
  --volume etc-etcd-ssl,kind=host,source=/etc/etcd/ssl \
  --mount volume=etc-etcd-ssl,target=/etc/etcd/ssl"

Environment="ETCD_CERT_FILE=/etc/etcd/ssl/etcd.pem"
Environment="ETCD_KEY_FILE=/etc/etcd/ssl/etcd-key.pem"
Environment="ETCD_PEER_CERT_FILE=/etc/etcd/ssl/etcd.pem"
Environment="ETCD_PEER_KEY_FILE=/etc/etcd/ssl/etcd-key.pem"
Environment="ETCD_TRUSTED_CA_FILE=/etc/etcd/ssl/etcd-ca.pem"
Environment="ETCD_PEER_TRUSTED_CA_FILE=/etc/etcd/ssl/etcd-ca.pem"

Environment="ETCD_LISTEN_CLIENT_URLS=https://{{ vars.current_ip }}:2379,http://127.0.0.1:2379"
Environment="ETCD_ADVERTISE_CLIENT_URLS=https://{{ vars.current_ip }}:2379"
Environment="ETCD_LISTEN_PEER_URLS=https://{{ vars.current_ip }}:2380"
Environment="ETCD_INITIAL_ADVERTISE_PEER_URLS=https://{{ vars.current_ip }}:2380"
Environment="ETCD_INITIAL_CLUSTER={% for member in etcd.members %}{{ member.name }}=https://{{ member.host }}:2380{% if not loop.last %},{% endif %}{% endfor %}"
Environment="ETCD_STRICT_RECONFIG_CHECK=true"

ExecStartPre=/usr/bin/mkdir --parents /var/lib/coreos
ExecStartPre=-/usr/bin/rkt rm --uuid-file=/var/lib/coreos/etcd-member-wrapper.uuid
ExecStart=/usr/lib/coreos/etcd-wrapper $ETCD_OPTS
ExecStop=-/usr/bin/rkt stop --uuid-file=/var/lib/coreos/etcd-member-wrapper.uuid

[Install]
WantedBy=multi-user.target