[Unit]
Description=Enforce docker0 interface creation when Wireguard used as default gateway
After=network-online.target
PartOf=docker.service

[Service]
Type=simple
User=root

ExecStartPre=/sbin/ip link add name docker0 type bridge
ExecStart=/sbin/ip addr add dev docker0 172.18.0.1/16

[Install]
WantedBy=multi-user.target