# -*- coding: utf-8 -*-
# vim: ft=jinja

{% from tpldir ~ "/map.jinja" import metallb with context %}
{%- from "kubernetes/map.jinja" import common with context -%}

controller:
  image:
    tag: v{{ metallb.version }}

# configInline:
#   address-pools:
#   - name: default
#     protocol: layer2
#     addresses:
#       - 172.17.4.200-172.17.4.249

prometheus:
  enabled: true
  {%- if common.addons.get('kube_prometheus', {'enabled': False}).enabled %}
  serviceAccount: kube-prometheus-kube-prome-prometheus
  namespace: monitoring
  serviceMonitor:
    enabled: true
  {% endif %}

speaker:
  image:
    tag: v{{ metallb.version }}
  nodeSelector:
    node-role.kubernetes.io/ingress: "true"
