# -*- coding: utf-8 -*-
# vim: ft=jinja

{% import_yaml tpldir ~ "/defaults.yaml" or {} as defaults %}

{#- Merge in salt pillar #}
{% set spinnaker = salt['pillar.get']('kubernetes:charts:spinnaker', default=defaults['spinnaker'], merge=True) %}