# -*- coding: utf-8 -*-
# vim: ft=jinja

{#- Get the `tplroot` from `tpldir` #}
{% from tpldir ~ "/map.jinja" import velero with context %}

{% set credentials = "[default]" ~ "\n" ~ "aws_access_key_id = " ~ velero.s3.accesskey ~ "\n" ~ "aws_secret_access_key = " ~ velero.s3.secretkey %}

apiVersion: v1
kind: Secret
metadata:
  name: cloud-credentials
  namespace: velero
  labels:
    app: velero
type: Opaque
data:
  cloud: >-
    {{ credentials | base64_encode }}

