{%- set public_domain = pillar['public-domain'] -%}

apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: nginx-ingress-certs
  namespace: ingress-nginx
spec:
  commonName: '{{ public_domain }}'
  dnsNames:
  - "*.{{ public_domain }}"
  - "{{ public_domain }}"
  issuerRef:
    kind: ClusterIssuer
    name: letsencrypt-prod
  secretName: nginx-ingress-certs