# -*- coding: utf-8 -*-
# vim: ft=jinja

{#- Get the `tplroot` from `tpldir` #}
{% from tpldir ~ "/map.jinja" import nginx with context %}
{%- from "kubernetes/map.jinja" import charts with context -%}
controller:
  image:
    repository: {{ nginx.repository }}
    tag: v{{ nginx.version }}
  containerPort:
    http: 80
    https: 443
    {%- if charts.get('mailhog', {'enabled': False}).enabled %}
    smtp: 25
    {%- endif %}
  {%- if charts.get('mailhog', {'enabled': False}).enabled %}
  tcp:
    25: "mailhog/mailhog:1025"
  {%- endif %}
  config:
    enable-vts-status: "true"
    proxy-body-size: 4096m
    proxy-buffer-size: 128k
    proxy-connect-timeout: 600s
    proxy-read-timeout: 3600s
    # proxy-request-buffering: "off"
    proxy-send-timeout: 3600s
    # server-snippet: |
    #   if ( $is_args = "" ){rewrite ^/(/*[^./]+)$$ $1/ permanent;}
    # server-tokens: "false"
    worker-shutdown-timeout: 3600s
    use-forwarded-headers: "true"
  hostNetwork: false
  hostPort:
    enabled: True
    http: 80
    https: 443
    {%- if charts.get('mailhog', {'enabled': False}).enabled %}
    smtp: 25
    {%- endif %}
  kind: DaemonSet
  tolerations:
    - key: node-role.kubernetes.io
      operator: Equal
      value: ingress
      effect: NoSchedule
  nodeSelector:
    node-role.kubernetes.io/ingress: "true"
 
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  


defaultBackend:
  enabled: true
  image:
    tag: {{ nginx.backend_version }}
  replicaCount: 2
rbac:
  create: true
serviceAccount:
  create: true
