{%- from "kubernetes/map.jinja" import charts with context -%}
controller:
  daemonset:
    useHostPort: true
    hostPorts:
      http: 80
      https: 443
  kind: DaemonSet
  config:
    enable-vts-status: "true"
    proxy-body-size: 4096m
    proxy-buffer-size: 128k
    proxy-connect-timeout: 600s
    proxy-read-timeout: 3600s
    # proxy-request-buffering: "off"
    proxy-send-timeout: 3600s
    # server-snippet: |
    #   if ( $is_args = "" ){rewrite ^/(/*[^./]+)$$ $1/ permanent;}
    # server-tokens: "false"
    worker-shutdown-timeout: 3600s
    use-forwarded-headers: "true"
  nodeSelector:
    node-role.kubernetes.io/ingress: "true"
  tolerations:
    - key: node-role.kubernetes.io
      operator: Equal
      value: ingress
      effect: NoSchedule
  stats:
    enabled: true
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
defaultBackend:
  enabled: true
  replicaCount: 2
rbac:
  create: true
serviceAccount:
  create: true
{% if charts.get('mailhog', {'enabled': False}).enabled %}
tcp:
  25: "mailhog/mailhog:1025"
{% endif %}