---
#Use the following YAMLs to create a cStor Storage Pool.
apiVersion: openebs.io/v1alpha1
kind: StoragePoolClaim
metadata:
  name: cstor-disk-pool
  annotations:
    cas.openebs.io/config: |-
      - name: PoolResourceRequests
        value: |-
            memory: 2Gi
      - name: PoolResourceLimits
        value: |-
            memory: 4Gi
spec:
  name: cstor-disk-pool
  type: disk
  poolSpec:
    poolType: striped
  blockDevices:
    blockDeviceList:
    {%- for blockdevice in salt['cmd.shell']("kubectl -n openebs get blockdevice -o jsonpath='{.items[*].metadata.name}'").split(' ') %}
    - {{ blockdevice }}
    {%- endfor %}
