# -*- coding: utf-8 -*-
# vim: ft=jinja

{#- Get the `tplroot` from `tpldir` #}
{% from tpldir ~ "/map.jinja" import openebs with context %}

---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: nats
  namespace: mayastor
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nats
  template:
    metadata:
      labels:
        app: nats
    spec:
      containers:
        - name: nats
          image: {{ openebs.csi.mayastor.nats_image }}
          imagePullPolicy: "IfNotPresent"
          ports:
            - containerPort: 4222
              protocol: TCP
              name: "nats"
---
kind: Service
apiVersion: v1
metadata:
  name: nats
  namespace: mayastor
spec:
  selector:
    app: nats
  ports:
  - protocol: TCP
    port: 4222
    targetPort: 4222