# -*- coding: utf-8 -*-
# vim: ft=jinja

{#- Get the `tplroot` from `tpldir` #}
{% from tpldir ~ "/map.jinja" import openebs with context %}
{%- from "kubernetes/map.jinja" import storage with context -%}
{%- set nodes = [] -%}
{%- for key, value in salt["mine.get"](tgt="role:node", fun="network.get_hostname", tgt_type="grain")|dictsort(false, 'value') -%}
  {%- do nodes.append(value) -%}
{%- endfor -%}

{%- for node in nodes %}
{%- for file in storage.loopback_iscsi.files %}
---
apiVersion: "openebs.io/v1alpha1"
kind: MayastorPool
metadata:
  name: pool-{{ node }}-{{ file.lun_name }}
  namespace: mayastor
spec:
  node: {{ node }}
  disks: ["ip-{{ storage.loopback_iscsi.initiator_address }}:{{ storage.loopback_iscsi.initiator_port }}-iscsi-iqn.0000-00.target.local:{{ file.lun_name }}-lun-1"]
{%- endfor %}
{%- endfor %}
