{%- set public_domain = pillar['public-domain'] -%}
{%- from "kubernetes/map.jinja" import common with context -%}
{%- from "kubernetes/map.jinja" import charts with context -%}

{%- if common.addons.get('ingress_traefik', {'enabled': False}).enabled %}
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: concourse-dashboard
  namespace: concourse
spec:
  rules:
  - host: {{ charts.concourse.ingress_host }}.{{ public_domain }}
    http:
      paths:
      - path: /
        backend:
          serviceName: concourse-web
          servicePort: 8080
---
{% endif %}

{%- if common.addons.get('istio', {'enabled': False}).enabled -%}
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: concourse-dashboard
  namespace: default
spec:
  gateways:
  - istio-gateway
  hosts:
  - {{ charts.concourse.ingress_host }}.{{ public_domain }}
  http:
  - match:
    - uri:
        prefix: /
    route:
    - destination:
        host: concourse-web.concourse.svc.cluster.local
        port:
          number: 8080
---
{% endif %}
