### THIS FILE IS MANAGED BY SALTSTACK
{%- set serviceIpRange =  pillar['kubernetes']['global']['service-ip-range'] -%} 
{%- set masterCount =  pillar['kubernetes']['master']['count'] -%} 
{%- set hostname = salt['grains.get']('fqdn') -%}
{%- set etcd01 =  pillar['kubernetes']['etcd']['cluster']['etcd01']['hostname'] -%} 
{%- set etcd02 =  pillar['kubernetes']['etcd']['cluster']['etcd02']['hostname'] -%} 
{%- set etcd03 =  pillar['kubernetes']['etcd']['cluster']['etcd03']['hostname'] -%} 
{%- set etcd01ip =  pillar['kubernetes']['etcd']['cluster']['etcd01']['ipaddr'] -%} 
{%- set etcd02ip =  pillar['kubernetes']['etcd']['cluster']['etcd02']['ipaddr'] -%} 
{%- set etcd03ip =  pillar['kubernetes']['etcd']['cluster']['etcd03']['ipaddr'] -%} 
{% if hostname == etcd01 %}
	{% set currentip = etcd01ip %}
{% elif hostname == etcd02 %}
	{% set currentip = etcd02ip %}
{% elif hostname == etcd03 %}
	{% set currentip = etcd03ip %}
{% else %}
	{% set currentip = "127.0.0.1" %}
{% endif %}

[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/usr/bin/kube-apiserver \
  --enable-admission-plugins=NamespaceLifecycle,NodeRestriction,LimitRanger,ServiceAccount,PersistentVolumeLabel,DefaultStorageClass,DefaultTolerationSeconds,MutatingAdmissionWebhook,ValidatingAdmissionWebhook,ResourceQuota \
  --advertise-address={{ currentip }} \
  --allow-privileged=true \
  --anonymous-auth=false \
  --apiserver-count={{ masterCount }} \
  --audit-log-maxage=30 \
  --audit-log-maxbackup=3 \
  --audit-log-maxsize=100 \
  --audit-log-path=/var/log/kube-audit/audit.log \
  --audit-policy-file=/etc/kubernetes/audit-policy.yaml \
  --authorization-mode=Node,RBAC \
  --bind-address=0.0.0.0 \
  --client-ca-file=/etc/kubernetes/ssl/ca.pem \
  --enable-bootstrap-token-auth \
  --enable-swagger-ui=true \
  --storage-backend=etcd3 \
  --etcd-cafile=/etc/kubernetes/ssl/ca.pem \
  --etcd-certfile=/etc/kubernetes/ssl/master.pem \
  --etcd-keyfile=/etc/kubernetes/ssl/master-key.pem \
  --etcd-servers=https://{{ etcd01ip }}:2379,https://{{ etcd02ip }}:2379,https://{{ etcd03ip }}:2379 \
  --event-ttl=1h \
  --insecure-bind-address=127.0.0.1 \
  --kubelet-certificate-authority=/etc/kubernetes/ssl/ca.pem \
  --kubelet-client-certificate=/etc/kubernetes/ssl/apiserver.pem \
  --kubelet-client-key=/etc/kubernetes/ssl/apiserver-key.pem \
  --kubelet-https=true \
  --runtime-config=batch/v2alpha1=true \
  --service-account-key-file=/etc/kubernetes/ssl/ca-key.pem \
  --service-cluster-ip-range={{ serviceIpRange }} \
  --service-node-port-range=30000-50000 \
  --storage-media-type=application/json \
  --tls-cert-file=/etc/kubernetes/ssl/apiserver.pem \
  --tls-private-key-file=/etc/kubernetes/ssl/apiserver-key.pem \
  --tls-ca-file=/etc/kubernetes/ssl/ca.pem \
  --token-auth-file=/etc/kubernetes/token.csv \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
