# -*- coding: utf-8 -*-
# vim: ft=jinja

{% import_yaml tpldir ~ "/defaults.yaml" or {} as defaults %}

{#- Merge in salt pillar #}
{% set concourse = salt['pillar.get']('kubernetes:charts:concourse', default=defaults['concourse'], merge=True) %}