{%- set public_domain = pillar['public-domain'] -%}
{%- from "kubernetes/map.jinja" import common with context -%}

{%- if common.addons.get('ingress_traefik', {'enabled': False}).enabled %}
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: httpbin
  namespace: default
spec:
  rules:
  - host: httpbin.{{ public_domain }}
    http:
      paths:
      - path: /
        backend:
          serviceName: httpbin
          servicePort: 8000
---
{% endif %}

{%- if common.addons.get('istio', {'enabled': False}).enabled -%}
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: httpbin
  namespace: default
spec:
  gateways:
  - istio-gateway
  hosts:
  - httpbin.{{ public_domain }}
  http:
  - match:
    - uri:
        prefix: /
    route:
    - destination:
        host: httpbin.default.svc.cluster.local
        port:
          number: 8000
---
{% endif %}