# -*- coding: utf-8 -*-
# vim: ft=jinja

{#- Get the `tplroot` from `tpldir` #}
{% from tpldir ~ "/map.jinja" import argo with context %}

# sensor controller
sensorController:
  tag: v{{ argo.events.version }}
  replicaCount: 1

eventsourceController:
  tag: v{{ argo.events.version }}
  replicaCount: 1

eventbusController:
  tag: v{{ argo.events.version }}
  replicaCount: 1