{%- set public_domain = pillar['public-domain'] -%}
{%- from "kubernetes/map.jinja" import common with context -%}
{%- from "kubernetes/map.jinja" import charts with context -%}
{%- if common.addons.get('nginx', {'enabled': False}).enabled %}
  {%- set controller = "nginx" -%}
{%- elif common.addons.get('traefik', {'enabled': False}).enabled %}
  {%- set controller = "traefik" -%}
{%- elif common.addons.get('istio', {'enabled': False}).enabled %}
  {%- set controller = "istio" -%}
{%- endif -%}

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: keycloak
  namespace: keycloak
  annotations:
    kubernetes.io/ingress.class: {{ controller }}
    {%- if common.addons.get('nginx', {'enabled': False}).enabled %}
    certmanager.k8s.io/cluster-issuer: letsencrypt-prod
    kubernetes.io/tls-acme: "true"
    {%- endif %}
spec:
  rules:
  - host: {{ charts.keycloak.ingress_host }}.{{ public_domain }}
    http:
      paths:
      - path: /
        backend:
          serviceName: keycloak-http
          servicePort: 80
  {%- if common.addons.get('nginx', {'enabled': False}).enabled %}
  tls:
  - secretName: keycloak-prod-cert
    hosts:
    - {{ charts.keycloak.ingress_host }}.{{ public_domain }}
  {%- endif %}
---
