# -*- coding: utf-8 -*-
# vim: ft=jinja

{#- Get the `tplroot` from `tpldir` #}
{% from tpldir ~ "/map.jinja" import keycloak with context %}
{%- set public_domain = pillar['public-domain'] -%}
{%- set url = 'https://' ~ keycloak.ingress_host ~ '.' ~ public_domain ~ '/auth' -%}

apiVersion: v1
kind: Secret
metadata:
  name: keycloak-env
  namespace: keycloak
  labels:
    app: keycloak
type: Opaque
data:
  KEYCLOAK_USER: {{ keycloak.username | base64_encode }}
  KEYCLOAK_PASSWORD: {{ keycloak.password | base64_encode }}
  KEYCLOAK_FRONTEND_URL: {{ url | base64_encode  }}
  KEYCLOAK_ALWAYS_HTTPS: {{ "false" | base64_encode }}