# -*- coding: utf-8 -*-
# vim: ft=jinja

{#- Get the `tplroot` from `tpldir` #}
{% from tpldir ~ "/map.jinja" import keycloak with context %}

apiVersion: v1
kind: Secret
metadata:
  name: keycloak-env
  namespace: keycloak
  labels:
    app: keycloak
type: Opaque
data:
  KEYCLOAK_USER: {{ keycloak.username | base64_encode }}
  KEYCLOAK_PASSWORD: {{ keycloak.password | base64_encode }}