# -*- coding: utf-8 -*-
# vim: ft=jinja

{% from tpldir ~ "/map.jinja" import nats_operator with context %}
{%- from "kubernetes/map.jinja" import common with context -%}

image:
  tag: {{ nats_operator.version }}

metrics:
  {%- if common.addons.get('kube_prometheus', {'enabled': False}).enabled %}
  enabled: true
  serviceMonitor:
    enabled: true
  {%- endif %}
