# -*- coding: utf-8 -*-
# vim: ft=jinja

{% import_yaml tpldir ~ "/defaults.yaml" or {} as defaults %}

{#- Merge in salt pillar #}
{% set contour = salt['pillar.get']('kubernetes:common:ingress:contour', default=defaults['contour'], merge=True) %}