{%- set hostname = salt['grains.get']('fqdn') -%}
{%- set public_domain = pillar['public-domain'] -%}
{%- set clusterHost = pillar['cluster-host'] -%}
{%- set controlPlaneInterface = pillar['controlPlaneInterface'] -%}
{%- set localIpAddress = salt['network.ip_addrs'](controlPlaneInterface) -%}
{%- from "kubernetes/role/proxy/kubeadm/map.jinja" import kubeadm with context %}
{%- from "kubernetes/map.jinja" import charts with context -%}

{%- if apiserverCount|length == 1 -%}
  {%- set controlPlaneAddress = "master01"  -%}
{%- else-%}
  {%- set controlPlaneAddress = clusterHost ~ '.' ~ public_domain -%}
{% endif %}

apiVersion: kubeadm.k8s.io/v1beta2
caCertPath: {{ kubeadm.caCertPath }}
discovery:
  bootstrapToken:
    apiServerEndpoint: {{ controlPlaneAddress }} ~ ':' ~ {{ kubeadm.bindPort }}
    token: {{ kubeadm.token }}
    unsafeSkipCAVerification: true
  timeout: {{ kubeadm.timeout }}
  tlsBootstrapToken: {{ kubeadm.nodeToken }}
kind: JoinConfiguration
nodeRegistration:
  criSocket: {{ kubeadm.criSocket }}
  name: {{ hostname }}
  taints:
    - key: node-role.kubernetes.io/ingress
      value: 
  labels:
    - key: node-role.kubernetes.io/ingress
      effect: NoSchedule
    {%- if common.addons.get('fluentd-elasticsearch', {'enabled': False}).enabled %}
    - key: beta.kubernetes.io/fluentd-ds-ready
      value: true
    {%- endif %}
    {%- if master.storage.get('rook_ceph', {'enabled': False}).enabled %}
    - key: node-role.kubernetes/ingress
      value: true
    {%- endif %}
    