# -*- coding: utf-8 -*-
# vim: ft=jinja

{% import_yaml tpldir ~ "/defaults.yaml" or {} as defaults %}

{#- Merge in salt pillar #}
{% set docker = salt['pillar.get']('kubernetes:common:cri:docker', default=defaults['docker'], merge=True) %}