# -*- coding: utf-8 -*-
# vim: ft=jinja

{% import_yaml tpldir ~ "/defaults.yaml" or {} as defaults %}

{#- Merge in salt pillar #}
{% set opa = salt['pillar.get']('kubernetes:common:addons:opa', default=defaults['opa'], merge=True) %}