### THIS FILE IS MANAGED BY SALTSTACK
{%- set clusterDomain =  pillar['kubernetes']['domain'] -%}
{%- set hostname = salt['grains.get']('fqdn') -%}
{%- set ip = salt['grains.get']('fqdn_ip4') -%}
{%- set etcd01ip =  pillar['kubernetes']['etcd']['cluster']['etcd01']['ipaddr'] -%} 
{%- set etcd02ip =  pillar['kubernetes']['etcd']['cluster']['etcd02']['ipaddr'] -%} 
{%- set etcd03ip =  pillar['kubernetes']['etcd']['cluster']['etcd03']['ipaddr'] -%} 
{%- set etcd01 =  pillar['kubernetes']['etcd']['cluster']['etcd01']['hostname'] -%} 
{%- set etcd02 =  pillar['kubernetes']['etcd']['cluster']['etcd02']['hostname'] -%} 
{%- set etcd03 =  pillar['kubernetes']['etcd']['cluster']['etcd03']['hostname'] -%} 
{% if hostname == etcd01 %}
	{% set currentip = etcd01ip %}
{% elif hostname == etcd02 %}
	{% set currentip = etcd02ip %}
{% elif hostname == etcd03 %}
	{% set currentip = etcd03ip %}
{% else %}
	{% set currentip = "127.0.0.1" %}
{% endif %}

[Unit]
Description=etcd
Documentation=https://github.com/coreos

[Service]
ExecStart=/usr/bin/etcd  \
--name={{ hostname }} \
--data-dir=/var/lib/etcd \
--cert-file=/etc/etcd/ssl/etcd.pem  \
--key-file=/etc/etcd/ssl/etcd-key.pem \
--peer-cert-file=/etc/etcd/ssl/etcd.pem \
--peer-key-file=/etc/etcd/ssl/etcd-key.pem \
--trusted-ca-file=/etc/etcd/ssl/ca.pem \
--peer-trusted-ca-file=/etc/etcd/ssl/ca.pem \
--listen-client-urls https://{{ currentip }}:2379,http://127.0.0.1:2379 \
--advertise-client-urls https://{{ currentip }}:2379 \
--listen-peer-urls https://{{ currentip }}:2380 \
--initial-advertise-peer-urls https://{{ currentip }}:2380 \
--initial-cluster-token kubernete-cluster \
--initial-cluster {{ etcd01 }}=https://{{ etcd01ip }}:2380,{{ etcd02 }}=https://{{ etcd02ip }}:2380,{{ etcd03 }}=https://{{ etcd03ip }}:2380 \
--initial-cluster-state new \
--peer-client-cert-auth \
--client-cert-auth

Type=notify
Restart=on-failure
RestartSec=5
LimitNOFILE=30000

[Install]
WantedBy=multi-user.target
