### THIS FILE IS MANAGED BY SALTSTACK
{%- set podNetwork =  pillar['kubernetes']['global']['pod-network'] -%}
[Unit]
Description=Kubernetes Kube Proxy
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/usr/bin/kube-proxy \
  --kubeconfig=/etc/kubernetes/kube-proxy.kubeconfig \
  --cluster-cidr={{ podNetwork }} \
  --masquerade-all \
  --proxy-mode=iptables \
  --iptables-min-sync-period=2s \
  --iptables-sync-period=5s \
  --v=2

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
