{%- set clusterDomain = pillar['kubernetes']['domain'] -%}
{%- set clusterDNS = pillar['kubernetes']['global']['clusterDNS'] -%}
{%- set hostname = salt['grains.get']('fqdn') -%}
### THIS FILE IS MANAGED BY SALTSTACK
[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/kubelet \
  --allow-privileged=true \
  --anonymous-auth=false \
  --client-ca-file=/etc/kubernetes/ssl/ca.pem \
  --cluster-dns={{ clusterDNS }} \
  --cluster-domain={{ clusterDomain }} \
  --cni-conf-dir=/etc/cni/net.d \
  --cni-bin-dir=/opt/cni/bin \
  --container-runtime=docker \
  --eviction-pressure-transition-period=30s \
  --hostname-override={{ hostname }} \
  --kubeconfig=/etc/kubernetes/kubeconfig \
  --kubelet-cgroups=/systemd/system.slice \
  --network-plugin=cni \
  --node-labels=kubernetes.io/role=node \
  --register-node=true \
  --runtime-cgroups=/systemd/system.slice \
  --serialize-image-pulls=false \
  --tls-cert-file=/etc/kubernetes/ssl/node.pem \
  --tls-private-key-file=/etc/kubernetes/ssl/node-key.pem \
  --volume-plugin-dir=/etc/kubernetes/volumeplugins \
  --v=2

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
