
rook_ceph:
  replication: 3
  block_replication: 3
  object_replication: 3
  filesystem_replication: 3
  image: docker.io/rook/ceph:v1.5.1
  ceph_image: docker.io/ceph/ceph:v15.2.5
  exporter_image: digitalocean/ceph_exporter:latest
  ingress_host: ceph
  store_type: filestore
  timeout: 260
  default_storageclass:
    enabled: true
    name: rook-ceph-block
