# -*- coding: utf-8 -*-
# vim: ft=jinja

{% import_yaml tpldir ~ "/defaults.yaml" or {} as defaults %}

{#- Merge in salt pillar #}
{% set coredns = salt['pillar.get']('kubernetes:charts:coredns', default=defaults['coredns'], merge=True) %}