# -*- coding: utf-8 -*-
# vim: ft=jinja

{% from tpldir ~ "/map.jinja" import contour with context %}
{%- from "kubernetes/map.jinja" import common with context -%}

contour:
  enabled: true
  image:
    tag: {{ contour.version }}

envoy:
  enabled: true
  # containerSecurityContext:
  #   enabled: false
  # containerSecurityContext:
  #   enabled: false
  
  tolerations:
    - key: node-role.kubernetes.io
      operator: Equal
      value: ingress
      effect: NoSchedule
  nodeSelector:
    node-role.kubernetes.io/ingress: "true"
  # hostNetwork: true
  # useHostPort: true
  # hostPorts:
  #   http: 80
  #   https: 443
  # containerPorts:
  #   http: 80
  #   https: 443  

prometheus:
  serviceMonitor:
    {%- if common.addons.get('kube_prometheus', {'enabled': False}).enabled %}
    enabled: true
    {%- endif %}