# -*- coding: utf-8 -*-
# vim: ft=jinja

{#- Get the `tplroot` from `tpldir` #}
{% from tpldir ~ "/map.jinja" import contour with context %}
{%- from "kubernetes/map.jinja" import charts with context -%}
{%- from "kubernetes/map.jinja" import common with context -%}

contour:
  enabled: true
  image:
    registry: {{ contour.image.split('/')[0] }}
    repository: {{ contour.image.split('/')[1] ~ '/' ~ contour.image.split('/')[2].split(':')[0] }}
    tag: {{ contour.image.split(':')[1] }}

envoy:
  enabled: true
  containerSecurityContext:
    enabled: false
  containerSecurityContext:
    enabled: false
  image:
    registry: {{ contour.envoy_image.split('/')[0] }}
    repository: {{ contour.envoy_image.split('/')[1] ~ '/' ~ contour.envoy_image.split('/')[2].split(':')[0] }}
    tag: {{ contour.envoy_image.split(':')[1] }}
  tolerations:
    - key: node-role.kubernetes.io
      operator: Equal
      value: ingress
      effect: NoSchedule
  nodeSelector:
    node-role.kubernetes.io/ingress: "true"

prometheus:
  serviceMonitor:
    {%- if common.addons.get('kube_prometheus', {'enabled': False}).enabled %}
    enabled: true
    {%- else %}
    enabled: false
    {%- endif %}