# -*- coding: utf-8 -*-
# vim: ft=jinja

{#- Get the `tplroot` from `tpldir` #}
{% from tpldir ~ "/map.jinja" import contour with context %}
{%- from "kubernetes/map.jinja" import charts with context -%}

contour:
  enabled: true
  tolerations:
    - key: node-role.kubernetes.io
      operator: Equal
      value: ingress
      effect: NoSchedule
  nodeSelector:
    node-role.kubernetes.io/ingress: "true"

envoy:
  enabled: true
  tolerations:
    - key: node-role.kubernetes.io
      operator: Equal
      value: ingress
      effect: NoSchedule
  nodeSelector:
    node-role.kubernetes.io/ingress: "true"

prometheus:
  serviceMonitor:
    {%- if common.addons.get('kube_prometheus', {'enabled': False}).enabled %}
    enabled: true
    {%- else %}
    enabled: false
    {%- endif %}