# -*- coding: utf-8 -*-
# vim: ft=jinja

{#- Get the `tplroot` from `tpldir` #}
{% from tpldir ~ "/map.jinja" import falco with context %}
{%- from "kubernetes/map.jinja" import common with context -%}

image:
  tag: {{ falco.exporter_version }}

service:
  # Enable Mutual TLS for HTTP metrics server
  mTLS:
    enabled: false

falco:
  grpcUnixSocketPath: "unix:///var/run/falco/falco.sock"
  # grpcUnixSocketPath: ""
  # grpcHostname: "falco-grpc.falco.svc.cluster.local"
  # grpcPort: 5060
  # grpcTimeout: 2m

# Allow falco to run on Kubernetes 1.6 masters.
tolerations:
  - effect: NoSchedule
    key: node-role.kubernetes.io/control-plane
  - effect: NoSchedule
    key: node-role.kubernetes.io
    operator: Equal
    value: ingress