# -*- coding: utf-8 -*-
# vim: ft=jinja

{#- Get the `tplroot` from `tpldir` #}
{% from tpldir ~ "/map.jinja" import kubeless with context %}

apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    kubeless: kinesis-trigger-controller
  name: kinesis-trigger-controller
  namespace: kubeless
spec:
  selector:
    matchLabels:
      kubeless: kinesis-trigger-controller
  template:
    metadata:
      labels:
        kubeless: kinesis-trigger-controller
    spec:
      containers:
      - env:
        - name: KUBELESS_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: KUBELESS_CONFIG
          value: kubeless-config
        image: {{ kubeless.kinesis_trigger_image }}
        imagePullPolicy: IfNotPresent
        name: kinesis-trigger-controller
      serviceAccountName: controller-acct
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRole
metadata:
  name: kinesis-controller-deployer
rules:
- apiGroups:
  - ""
  resources:
  - services
  - configmaps
  - secrets
  verbs:
  - get
  - list
- apiGroups:
  - kubeless.io
  resources:
  - functions
  - kinesistriggers
  verbs:
  - get
  - list
  - watch
  - update
  - delete
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: kinesis-controller-deployer
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: kinesis-controller-deployer
subjects:
- kind: ServiceAccount
  name: controller-acct
  namespace: kubeless
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: kinesistriggers.kubeless.io
spec:
  group: kubeless.io
  names:
    kind: KinesisTrigger
    plural: kinesistriggers
    singular: kinesistrigger
  scope: Namespaced
  version: v1beta1
