### THIS FILE IS MANAGED BY SALTSTACK
{%- set etcdVersion = pillar['kubernetes']['etcd']['version'] -%}
{%- set etcdCount = pillar['kubernetes']['etcd']['count'] -%}
{%- set masterCount = pillar['kubernetes']['master']['count'] -%}
{%- set clusterDomain =  pillar['kubernetes']['domain'] -%}
{%- set hostname = salt['grains.get']('fqdn') -%}
{%- set ip = salt['grains.get']('fqdn_ip4') -%}
{%- set etcd01ip =  pillar['kubernetes']['etcd']['cluster']['etcd01']['ipaddr'] -%} 
{%- set etcd02ip =  pillar['kubernetes']['etcd']['cluster']['etcd02']['ipaddr'] -%} 
{%- set etcd03ip =  pillar['kubernetes']['etcd']['cluster']['etcd03']['ipaddr'] -%} 
{%- set etcd01 =  pillar['kubernetes']['etcd']['cluster']['etcd01']['hostname'] -%} 
{%- set etcd02 =  pillar['kubernetes']['etcd']['cluster']['etcd02']['hostname'] -%} 
{%- set etcd03 =  pillar['kubernetes']['etcd']['cluster']['etcd03']['hostname'] -%}

{% if hostname == etcd01 %}
	{% set currentip = etcd01ip %}
{% elif hostname == etcd02 %}
	{% set currentip = etcd02ip %}
{% elif hostname == etcd03 %}
	{% set currentip = etcd03ip %}
{% else %}
	{% set currentip = "127.0.0.1" %}
{% endif %}

[Unit]
Description=etcd (System Application Container)
Documentation=https://github.com/coreos/etcd
Wants=network-online.target network.target
After=network-online.target
Conflicts=etcd.service
Conflicts=etcd2.service

[Service]
Type=notify
Restart=on-failure
RestartSec=10s
TimeoutStartSec=0
LimitNOFILE=40000
Environment="ETCD_IMAGE_TAG={{ etcdVersion }}"
Environment="ETCD_NAME={{ hostname }}"
Environment="ETCD_USER=etcd"
Environment="ETCD_DATA_DIR=/var/lib/etcd"
Environment="RKT_RUN_ARGS=--uuid-file-save=/var/lib/coreos/etcd-member-wrapper.uuid \
  --volume etc-etcd-ssl,kind=host,source=/etc/etcd/ssl \
  --mount volume=etc-etcd-ssl,target=/etc/etcd/ssl"

Environment="ETCD_CERT_FILE=/etc/etcd/ssl/etcd.pem"
Environment="ETCD_KEY_FILE=/etc/etcd/ssl/etcd-key.pem"
Environment="ETCD_PEER_CERT_FILE=/etc/etcd/ssl/etcd.pem"
Environment="ETCD_PEER_KEY_FILE=/etc/etcd/ssl/etcd-key.pem"
Environment="ETCD_TRUSTED_CA_FILE="/etc/etcd/ssl/ca.pem"
Environment="ETCD_PEER_TRUSTED_CA_FILE=/etc/etcd/ssl/ca.pem"

Environment="ETCD_LISTEN_CLIENT_URLS=https://{{ currentip }}:2379,http://127.0.0.1:2379"
Environment="ETCD_ADVERTISE_CLIENT_URLS=https://{{ currentip }}:2379"
Environment="ETCD_LISTEN_PEER_URLS=https://{{ currentip }}:2380"
Environment="ETCD_INITIAL_ADVERTISE_PEER_URLS=https://{{ currentip }}:2380"
Environment="ETCD_INITIAL_CLUSTER={{ etcd01 }}=https://{{ etcd01ip }}:2380,{{ etcd02 }}=https://{{ etcd02ip }}:2380,{{ etcd03 }}=https://{{ etcd03ip }}:2380"
Environment="ETCD_STRICT_RECONFIG_CHECK=true"

ExecStartPre=/usr/bin/mkdir --parents /var/lib/coreos
ExecStartPre=-/usr/bin/rkt rm --uuid-file=/var/lib/coreos/etcd-member-wrapper.uuid
ExecStart=/usr/lib/coreos/etcd-wrapper $ETCD_OPTS
ExecStop=-/usr/bin/rkt stop --uuid-file=/var/lib/coreos/etcd-member-wrapper.uuid