# -*- coding: utf-8 -*-
# vim: ft=jinja

{#- Get the `tplroot` from `tpldir` #}
{% from tpldir ~ "/map.jinja" import nuclio with context %}

apiVersion: v1
kind: Secret
metadata:
  name: registry-dockerhub
  namespace: nuclio
  labels:
    app: nuclio
    component: registry
type: kubernetes.io/dockerconfigjson
data:
  docker-username: {{ nuclio.registry.dockerhub.username | base64_encode }}
  docker-password: {{ nuclio.registry.dockerhub.password | base64_encode }}
  docker-server:   {{ nuclio.registry.dockerhub.url | base64_encode }}
  docker-email:    ignored@nuclio.io