# -*- coding: utf-8 -*-
# vim: ft=jinja

{% import_yaml tpldir ~ "/defaults.yaml" or {} as defaults %}

{#- Merge in salt pillar #}
{% set heapster_influxdb = salt['pillar.get']('kubernetes:common:addons:heapster_influxdb', default=defaults['heapster_influxdb'], merge=True) %}